# Qt Creator user and build files
*.pro.user
*.pro.user.*
build-*/
debug/
release/
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
build/
cmake-build*/
CMakeFiles/
CMakeCache.txt
*.o
*.obj
*.pdb
*.ilk
*.dll
*.so
*.dylib
*.exe
*.app
*.qmake.stash
*.qmake.cache
*.pro.user
*.user
.DS_Store
Thumbs.db
